
*{margin:0;padding:0;}

body {
  	overflow-y: scroll;
  	font: 14px Helvetica Neue,Helvetica,PingFang SC,Hiragino Sans GB,Microsoft YaHei,SimSun,sans-serif;
}

a {
  	color: #00B7FF;
}

*{
	box-sizing: border-box;
}